.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 16px;
}

.standart-card() {
    margin-bottom: 24px;
    padding: 16px;
    width: 450px;
    height: 550px;
    transition: .7;
}

.user-card() {
    margin-left: 16px;
}

.user-card {
    .user-card() !important
}

.standart-card {
    .standart-card() !important;
}